input[type=text]{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

input[type=text]:focus{
    border-color:Black;
    box-shadow:0 0 8px 0 Gray;
}

.inputWithIcon input[type=text]{
    padding-left:40px;
}

.inputWithIcon{
    position:relative;
}

.inputWithIcon i{
    position:absolute;
    left:0;
    top:9px;
    padding:12px 12px;
    color:#aaa;
    transition:.3s;
}

.inputWithIcon input[type=text]:focus + i{
    color:Black;
}

.inputWithIcon i{
    background-color:#aaa;
    color:#fff;
    padding:11px 6px;
    border-radius:4px 0 0 4px;
}

.inputWithIcon input[type=text]:focus + i{
    color:#fff;
    background-color:Black;
}